.metadata/
.recommenders/
Ex06_MyEditText2/bin/Ex06_MyEditText2.apk
Ex06_MyEditText2/bin/classes.dex
Ex06_MyEditText2/bin/dexedLibs/android-support-v4-8768817ad39311c4d0b77499c2e5fe11.jar
Ex06_MyEditText2/bin/res/crunch/drawable-hdpi/ic_launcher.png
Ex06_MyEditText2/bin/res/crunch/drawable-mdpi/ic_launcher.png
Ex06_MyEditText2/bin/res/crunch/drawable-xhdpi/ic_launcher.png
Ex06_MyEditText2/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
Ex06_MyEditText2/bin/resources.ap_
appcompat_v7/bin/appcompat_v7.jar
